
{% extends 'base.html' %} {% block content %}

<div>
    <h3>Welcome to the Crystal Collector! </h3>
    <h4>This Crystal App is a perfect place for you to store information about your favorite healing crystals and write your own personal blogs about each of them! This can be your own personal experience working with that crystal, or simply writing a blog about any healing crystals.</h4>
    <h4>When you create your stone, you have an option to list the date of when you cleansed the crystal, with sunlight, moonlight, water, or incense. This way you can track when the last time it was cleansed so you know how long it has been.</h4>
    <h4>This is for anyone that is curious about crystals or want to expand the deeper meaning of them. A perect tool to track all your spiritual needs with this Crystal Collector!</h4>
</div>

{% endblock %}
